# Set

* Sets are unordered, so it cannot be sure in which order the items will appear.
* Sets are unindexed, so items in a set cannot be accessed by referring to an index or a key.
* Sets do not allow duplicate members.
* Items cannot be changed once a set is created. But new items can be added.

### Create a set

Using ***{  }:***

In [4]:
fruits = {'apple', 'banana', 'cherry'}
print(fruits)

{'banana', 'apple', 'cherry'}

Using ***set():***

In [6]:
fruits = set(('apple', 'banana', 'cherry'))
print(fruits)

{'banana', 'apple', 'cherry'}

### Frequency and Index of set items
Set object does not have 'index' and 'count' attributes as it is unindexed and does not allow duplicate values.

### Access items of a set

We cannot access set items by index number as sets are unindexed. The only way of accessing set items is loop.

In [9]:
fruits = {'apple', 'banana', 'cherry'}

for item in fruits:
    print(item)

banana
apple
cherry

### Slice a set and Change items of a set

As sets are unindexed, we cannot slice sets. Items of a set cannot be changed once created. But new items can be added in a set.

### Check the presence of items in a set

In [10]:
fruits = {'apple', 'banana', 'cherry'}
print('orange' in fruits)

False

### Length of a set

In [12]:
fruits = {'apple', 'banana', 'cherry'}
print(len(fruits))

3

### Add items to a set

Add a single item using ***add():***

In [13]:
fruits = {'apple', 'banana', 'cherry'}
fruits.add('orange')
print(fruits)

{'banana', 'orange', 'apple', 'cherry'}

Add multiple items using ***update():***

In [14]:
fruits = {'apple', 'banana', 'cherry'}
fruits.update({'orange', 'mango'})
print(fruits)

{'orange', 'cherry', 'banana', 'mango', 'apple'}

Not only set, any iterable object (tuples, lists, dictionaries etc.) can be passed through ***update():***

In [15]:
fruits = {'apple', 'banana', 'cherry'}
fruits.update(['orange', 'mango'])
print(fruits)

{'orange', 'mango', 'banana', 'apple', 'cherry'}

### Remove items from a set

***remove():*** Remove item by its name

In [17]:
fruits = {'apple', 'banana', 'cherry', 'orange'}
fruits.remove('banana')
print(fruits)

{'orange', 'apple', 'cherry'}

***discard():*** Remove item by its name

In [18]:
fruits = {'apple', 'banana', 'cherry', 'orange'}
fruits.discard('apple')
print(fruits)

{'banana', 'orange', 'cherry'}

***pop():*** As sets are unordered, it removes random item

In [21]:
fruits = {'apple', 'banana', 'cherry', 'orange'}
fruits.pop()
print(fruits)

{'orange', 'apple', 'cherry'}

### Delete a set completely

In [22]:
fruits = {'apple', 'banana', 'cherry'}
del fruits
print(fruits)

NameError: name 'fruits' is not defined

### Empty a set by deleting all items

In [23]:
fruits = {"apple", "banana", "cherry"}
fruits.clear()
print(fruits)

set()

### Copy a set

There are two types of copy in Python: ***1)*** shallow copy and ***2)*** deep copy 

A ***deep copy*** constructs a new compound object and then, recursively, inserts copies into it of the objects found in the original. So, the original object and the new object are completely different and change in original object does not change the new object.

Using ***copy():***

In [28]:
set1 = {"apple", "banana", "cherry"}
set2 = set1.copy()
print(set2)

{'banana', 'apple', 'cherry'}

We can verify the deep copy by printing the memory location of two variables. The memory location will be different.

In [29]:
set1 = {"apple", "banana", "cherry"}
set2 = set1.copy()
print('Memory location for set1:', id(set1))
print('Memory location for set2:', id(set2))

Memory location for set1: 2356428417728
Memory location for set2: 2356428416608

A ***shallow copy*** constructs a new compound object and then (to the extent possible) inserts references into it to the objects found in the original. So, the original object and the new object point the same reference and changes in any object means the changes in the reference which eventually impacts both objects.

Using ***'=' :***

In [30]:
set1 = {"apple", "banana", "cherry"}
set2 = set1
print(set2)

{'banana', 'apple', 'cherry'}

We can verify the shallow copy by printing the memory location of two variables. The memory location will be same in this case.

In [31]:
set1 = {"apple", "banana", "cherry"}
set2 = set1
print('Memory location for set1:', id(set1))
print('Memory location for set2:', id(set2))

Memory location for set1: 2356428416608
Memory location for set2: 2356428416608

We can also use ***import copy*** module for shallow and deep copy operations.

### Concatenate two sets

***union():*** It returns a new set with all items from both sets

In [32]:
set1 = {'a', 'b' , 'c'}
set2 = {1, 2, 3}
set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'c', 'b', 'a'}

***update():*** It takes the items from one set and inserts into another set

In [33]:
set1 = {'a', 'b' , 'c'}
set2 = {1, 2, 3}
set1.update(set2)
print(set1)

{1, 2, 3, 'c', 'b', 'a'}

***Note:*** Both union() and update() will exclude any duplicate items.

***intersection_update():*** It keeps only the items that are present in both sets.

In [34]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set1.intersection_update(set2)
print(set1)

{'apple'}

***intersection():*** It returns a new set, that only contains the items that are present in both sets

In [35]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set3 = set1.intersection(set2)
print(set3)

{'apple'}

***symmetric_difference_update():*** It keeps only the elements that are NOT present in both sets

In [36]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set1.symmetric_difference_update(set2)
print(set1)

{'banana', 'google', 'cherry', 'microsoft'}

***symmetric_difference():*** It returns a new set that contains only the elements that are NOT present in both sets

In [37]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set3 = set1.symmetric_difference(set2)
print(set3)

{'banana', 'google', 'cherry', 'microsoft'}

***Note:*** The values True and 1 are considered the same value in sets, and are treated as duplicates:

In [38]:
set1 = {"apple", "banana", "cherry", True}
set2 = {"google", 1, "apple", 2}
set3 = set1.symmetric_difference(set2)
print(set3)

{2, 'banana', 'google', 'cherry'}