# Unpacking Operators:

### * Operator

We have a function that takes five arguments and returns their sum

In [1]:
def sum_of_numbers(num1,num2,num3,num4,num5):
    total = num1 + num2 + num3 + num4 + num5
    return total

numbers = [1,2,3,4,5]
sum_of_numbers(numbers[0], numbers[1], numbers[2], numbers[3], numbers[4])

15

The * operator is an unpacking operator that will unpack the values from any iterable object, such as lists, tuples, strings, etc. It unpacks the 'numbers' list and passes the values of 'numbers' as separate arguments to the 'sum_of_numbers' function.

In [2]:
def sum_of_numbers(num1,num2,num3,num4,num5):
    total = num1 + num2 + num3 + num4 + num5
    return total

numbers = [1,2,3,4,5]
sum_of_numbers(*numbers)

15

***Note:*** For this to work, the number of elements in num_list must match the number of parameters in the num_sum function. If they donâ€™t match, we would get a TypeError.

### * Operator with print() functions

In [3]:
cars = ['toyota', 'honda', 'bmw', 'volvo']
print(*cars)

toyota honda bmw volvo

In [4]:
cars = ['toyota', 'honda', 'bmw', 'volvo']
fruits = ['mango', 'apple', 'orange']
print(*cars, *fruits)

toyota honda bmw volvo mango apple orange

### Merging multiple iterables

In [5]:
cars = ['toyota', 'honda', 'bmw', 'volvo']
fruits = ('mango', 'apple', 'orange')

cars_and_fruits = {*cars, *fruits}
print(cars_and_fruits)

{'mango', 'orange', 'apple', 'volvo', 'honda', 'bmw', 'toyota'}

### Breaking iterables

If we want to break an iterable up into 3 parts, with the first letter being assigned to a variable, the last letter being assigned to another variable, and everything in the middle assigned to a third variable.

In [6]:
name = 'Panther'
first, *middle, last = name
print('First part:', first)
print('Middle part:',middle)
print('Last part:', last)

First part: P
Middle part: ['a', 'n', 't', 'h', 'e']
Last part: r

***Note:*** The first and last variables above are called mandatory variables, as they must be assigned concrete values. The middle variable, due to using the * or unpacking operator, can have any number of values, including zero. If there are not enough values to unpack for the mandatory variables, we will get a ValueError.

If an iterable has only two items then items will be assigned to the mandatory variables and the middle will be assigned an empty list. So, the iterable must have at least the number of items equivalent to mandatory variables.

### Packing with * operator

We can also use the * operator to pack multiple values into a single variable.

In [7]:
*names, = 'Michael', 'John', 'Nancy'
print(names)

['Michael', 'John', 'Nancy']

The reason for using a trailing comma after *names is because the left side of the assignment must be a tuple or list. Therefore, the names variable now contains all the names on the right side in the form of a list.

### *args

If the number of arguments that are passed to a function varies then can use the * operator to pack the arguments in a tuple.

In [8]:
def names(*args):
    return args

names('Michael', 'John', 'Nancy')

('Michael', 'John', 'Nancy')

In [9]:
def names(*args):
    return args

names('Jennifer', 'Nancy')

('Jennifer', 'Nancy')

### **kwargs

To pass in a varying number of keyword or named arguments, we use the ** operator when defining a function. The ** unpacking operator will pack the varying number of named arguments we pass in into a dictionary.

In [10]:
def names(**kwargs):
    return kwargs

names(Jane = 'Doe')

{'Jane': 'Doe'}

In [11]:
def names(**kwargs):
    return kwargs

names(Jane = 'Doe', John = 'Smith')

{'Jane': 'Doe', 'John': 'Smith'}

***Note:*** When using the * operator to create a parameter that receives a varying number of positional arguments when defining a function, it is common to use the parameter name args (and kwargs to receive a varying number of keyword or named arguments). However, any names can be chosen for these parameters.

### Dictionaries

If we unpack a dictionary with *, it only takes the keys of the dictionary.

In [12]:
series = {'a': 1, 'b': 2, 'c': 3}
print(*series)

a b c

So, we need to use the ** unpacking operator for dictionaries. However, since each value is associated with a specific key, the function that we pass these arguments to must have parameters with the same names as the keys of the dictionary being unpacked.

In [13]:
series = {'a': 1, 'b': 2, 'c': 3}

def sum_(a, b, c):
    return a+b+c

sum_(**series)

6

### Merging Dictionaries

** operator can be used to merge two or more dictionaries.

In [14]:
series1 = {'a': 1, 'b': 2, 'c': 3}
series2 = {'d': 4, 'e': 5, 'f': 6}
series = {**series1, **series2}
print(series)

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6}