# String:
String literals in python are surrounded by either single quotation marks, or double quotation marks.

In [1]:
x = 'Hello'
y = "Hello"

Multiple line string can be assigned to a variable using three single quotes or three double quotes. In that case the line breaks are printed at the same position as like variable.

In [2]:
x = '''Country roads, take me home
To the place I belong'''
y = """Country roads, take me home
To the place I belong"""

print(x)

Country roads, take me home
To the place I belong

Strings are like array in Python. The first character has the position 0. Characters of a string can be accessed at different positions.

In [3]:
x = 'Hello'

print('x[1] :', x[1])
print('x[-1] :', x[-1])

x[1] : e
x[-1] : o

Strings can be sliced according to necessity.

In [5]:
x = 'United States of America'

print('x[:6] :', x[:6])
print('x[7:13] :', x[7:13])
print('x[-10:-8] :', x[-10:-8])
print('x[17:] :', x[17:])

x[:6] : United
x[7:13] : States
x[-10:-8] : of
x[17:] : America

Python has a set of built-in functions to use on strings. String functions return new value but they do not change the original string.

In [6]:
x = 'United States of America'

print('len(x) :', len(x))
print('x.strip() :', x.strip())
print('x.lower() :', x.lower())
print('x.upper() :', x.upper())
print('x.split(\' \') :', x.split(' '))
print("x.replace('c', 'k') :", x.replace('c', 'k'))
print('States in x :', 'States' in x)
print('of not in x :', 'of' not in x)

len(x) : 24
x.strip() : United States of America
x.lower() : united states of america
x.upper() : UNITED STATES OF AMERICA
x.split(' ') : ['United', 'States', 'of', 'America']
x.replace('c', 'k') : United States of Amerika
States in x : True
of not in x : False

To insert characters that are illegal in a string, an escape character is used. An escape character is a backslash \ followed by the character to insert. How to print *'A' for Apple.*?

In [7]:
print(''A' for Apple.')

SyntaxError: invalid syntax (<ipython-input-7-96c3eef5af0a>, line 1)

In [8]:
print("'A' for Apple.")
print('\'A\' for Apple.')

'A' for Apple.
'A' for Apple.

To concatenate or combine two strings, + operator is used.

In [9]:
print('Hello' + ' ' + 'Python!')

Hello Python!

But strings and numbers cannot be combined like below.

In [10]:
age = 13
print('The ' + age + ' years boy.')

TypeError: can only concatenate str (not "int") to str

Typecasting is one way to combine string and numbers.

In [11]:
age = 13
print('The ' + str(age) + ' years boy.')

The 13 years boy.

It is also possible to combine strings and numbers without typecasting.

In [12]:
age = 13
print('The', age, 'years boy.')

The 13 years boy.

There is another way to combine strings and numbers using *format()* function.

In [13]:
age = 13
grade = 8

text = 'The {} years boy.'
print(text.format(age))

text = 'The {} years boy reads in grade {}.'
print(text.format(age, grade))

text = 'The {1} years boy reads in grade {0}.'
print(text.format(grade, age))

The 13 years boy.
The 13 years boy reads in grade 8.
The 13 years boy reads in grade 8.

f-Strings is a new and improved way to format strings in Python.

In [14]:
age = 13
grade = 8

print(f'The {age} years boy.')
print(f'The {age} years boy reads in grade {grade}.')

The 13 years boy.
The 13 years boy reads in grade 8.