# Tuple:
Tuple is a collection which is ordered and unchangeable. It allows duplicate members.

### Create a tuple

Using ***(  ):***

In [17]:
mytuple = ('apple', 'banana', 'cherry', 'kiwi')
print(mytuple)

('apple', 'banana', 'cherry', 'kiwi')

Using ***tuple():***

In [16]:
mytuple = tuple(('volvo', 'toyota', 'bmw', 'audi'))
print(mytuple)

('volvo', 'toyota', 'bmw', 'audi')

### Create single item tuple

A comma is added after the item

In [19]:
mytuple = ('apple',)
print(mytuple)
print(type(mytuple))

('apple',)
<class 'tuple'>

Otherwise Python recognizes it as a string

In [20]:
mytuple = ('apple')
print(mytuple)
print(type(mytuple))

apple
<class 'str'>

### Frequency of a specific item in a tuple

In [46]:
fruits = ('apple', 'banana', 'cherry', 'kiwi', 'apple')
fruits.count('apple')

2

### Index of an item in a tuple

In [48]:
fruits = ('apple', 'banana', 'cherry', 'kiwi')
fruits.index('cherry')

2

But if an item occurs multiple times then it returns the index for the first occurrence

In [49]:
fruits = ('apple', 'banana', 'cherry', 'kiwi', 'banana')
fruits.index('banana')

1

### Access items of a tuple

Like lists, items of a tuple can be accessed at different positions

In [5]:
fruits = ('apple', 'banana', 'cherry', 'kiwi')
print('fruits[1] :', fruits[1])
print('fruits[-1] :', fruits[-1])

fruits[1] : banana
fruits[-1] : kiwi

### Slice a tuple

Tuples can be sliced accordingly as like lists

In [9]:
fruits = ('apple', 'banana', 'cherry', 'kiwi')
print('fruits[:2] :', fruits[:2])
print('fruits[1:3] :', fruits[1:3])
print('fruits[-3:-1] :', fruits[-3:-1])
print('fruits[2:] :', fruits[2:])

fruits[:2] : ('apple', 'banana')
fruits[1:3] : ('banana', 'cherry')
fruits[-3:-1] : ('banana', 'cherry')
fruits[2:] : ('cherry', 'kiwi')

### Change items of a tuple

The value of a tuple cannot be changed once created

In [12]:
fruits = ('apple', 'banana', 'cherry', 'kiwi')
fruits[3] = 'orange'
print(fruits)

TypeError: 'tuple' object does not support item assignment

But it is possible after converting the tuple into a list

In [13]:
fruits = ('apple', 'banana', 'cherry', 'kiwi')
fruits_list = list(fruits)
fruits_list[3] = 'orange'
fruits = tuple(fruits_list)
print(fruits)

('apple', 'banana', 'cherry', 'orange')

### Check the presence of items in a tuple

In [14]:
fruits = ('apple', 'banana', 'cherry', 'kiwi')
print('apple' in fruits)

True

### Lenth of a tuple

In [15]:
fruits = ('apple', 'banana', 'cherry', 'kiwi')
print(len(fruits))

4

### Add or Remove items

These operations are not possible with tuples as they are unchangeable.

### Delete a tuple completely

In [21]:
fruits = ('apple', 'banana', 'cherry')
del fruits
print(fruits)

NameError: name 'fruits' is not defined

### Copy a tuple

There are two types of copy in Python: ***1)*** shallow copy and ***2)*** deep copy 

A ***deep copy*** constructs a new compound object and then, recursively, inserts copies into it of the objects found in the original. So, the original object and the new object are completely different and change in original object does not change the new object.

A ***shallow copy*** constructs a new compound object and then (to the extent possible) inserts references into it to the objects found in the original. So, the original object and the new object point the same reference and changes in any object means the changes in the reference which eventually impacts both objects.

***Note:*** Tuple allows only shallow copy
***Note:*** Tuple object has no attribute 'copy'. 

Using ***tuple():***

In [50]:
tuple1 = ('toyota', 'honda', 'volvo')
tuple2 = tuple(tuple1)
print(tuple2)

('toyota', 'honda', 'volvo')

Verify the copy type by checking memory locations. Each variable will have different memory locations for deep copy and will refer the same memory location for the shallow copy.

In [58]:
tuple1 = ('toyota', 'honda', 'volvo')
tuple2 = tuple(tuple1)
print('Memory location for tuple1:', id(tuple1))
print('Memory location for tuple2:', id(tuple2))

Memory location for tuple1: 1955545265792
Memory location for tuple2: 1955545265792

Using ***'='***

In [59]:
tuple1 = ('banana', 'orange', 'mango')
tuple2 = tuple1
print(tuple2)

('banana', 'orange', 'mango')

Verify the copy type by checking memory locations. Each variable will have different memory locations for deep copy and will refer the same memory location for the shallow copy.

In [60]:
tuple1 = ('banana', 'orange', 'mango')
tuple2 = tuple1
print('Memory location for tuple1:', id(tuple1))
print('Memory location for tuple2:', id(tuple2))

Memory location for tuple1: 1955541966784
Memory location for tuple2: 1955541966784

Using ***deepcopy():***

In [61]:
import copy

tuple1 = ('toyota', 'honda', 'volvo')
tuple2 = copy.deepcopy(tuple1)
print(tuple2)

('toyota', 'honda', 'volvo')

Verify the copy type by checking memory locations. Each variable will have different memory locations for deep copy and will refer the same memory location for the shallow copy.

In [62]:
tuple1 = ('toyota', 'honda', 'volvo')
tuple2 = copy.deepcopy(tuple1)
print('Memory location for tuple1:', id(tuple1))
print('Memory location for tuple2:', id(tuple2))

Memory location for tuple1: 1955542160704
Memory location for tuple2: 1955542160704

### Concatenate two tuples

Two tuples can be concatenated in a third variable using only concatenation ***'+'*** sign

In [23]:
letter = ('a', 'b' , 'c')
number = (1, 2, 3)
letter_and_number = letter + number
print(letter_and_number)

('a', 'b', 'c', 1, 2, 3)